*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero h2{
    color: white;
}
.hero p{
    color: white;
}
.hero{
    background-color: lightblue;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://picsum.photos/id/237/1000);
        background-position: center;
        background-size: cover;
}
.logo{
    width: 160px;
}
nav {
padding: 2rem 1.4rem;
background-color: tomato;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}
.cartas{
    padding: 50px 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.art{
    padding: 50px 30px;
    background-color: tomato;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 320px){
    .hero p{
        display: none
    }
}
@media screen and (max-width: 768px){
    .hero{
        background-image: url(../assets/bombilla.jpeg);
        background-position: center;
        background-size: cover;
    }
}

    